<mat-sidenav-container class="app-container">
  <mat-sidenav #start>
    <mat-nav-list>
      <a mat-list-item (click)="start.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" [routerLink]="['']">
        Home
      </a>
      <a *ngFor="let navItem of navItems" mat-list-item (click)="start.close()" routerLinkActive
        #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
        [routerLink]="[navItem.path]">
        {{navItem.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Curly Designer Angular Components</h1>
      <span class="fill-space"></span>
      <img alt="Curly Designer Logo" src="assets/curly-designer-logo.png">
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>